
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: itim ;
}

button{
  background: gold;
  color: black;
  cursor: pointer;
  border: 0px;
  border-radius: 10px;
  padding: 5px 10px;
}

a{
  text-decoration: none;
  color: white;
}

li{
  list-style: none;
}

main{
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}